<!-- BEGINNING OF FOOTER -->
<<<<<<< HEAD
<footer class="blog-footer">
  <p>Made by Kevin Leong</p>
  <a target="_blank" href="https://www.facebook.com/kevinpleong"><img src="/assets/social-icons/facebook-icon-color.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://twitter.com/kevinpleong"><img src="/assets/social-icons/twitter-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://instagram.com/kevinpleong"><img src="/assets/social-icons/instagram-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.linkedin.com/in/kevinpleong"><img src="/assets/social-icons/linked-in-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://pinterest.com/kevinpleon"><img src="/assets/social-icons/pinterest-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://github.com/kevinpleong"><img src="/assets/social-icons/github-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://meta.stackoverflow.com/users/11357673/kevin-leong"><img src="/assets/social-icons/stack-overflow-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.fiverr.com/kevinpleong"><img src="/assets/social-icons/fiverr-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.goodreads.com/kevinpleong"><img src="/assets/social-icons/goodreads-icon.png" width="30" height="30" class="img-fluid"></a>
</footer>
=======
<!-- <footer>
  <div class="row ">
    <div class="col-md-12 ">
      <a href="https://www.facebook.com/PawsitivelyDeliciousHomemadeDogTreats/ " class="fa fa-facebook " target="_blank "></a>
      <a href="https://www.instagram.com/pawsitivelydeliciousdogtreats/ " class="fa fa-instagram " target="_blank "></a>
      <a href="https://twitter.com/DelishDogTreat " class="fa fa-twitter " target="_blank "></a>
      <a href="http://www.linkedin.com/in/pawsitivelydelicious " class="fa fa-linkedin " target="_blank "></a>
      <a href="https://www.pinterest.com/pawsitivelydelicious " class="fa fa-pinterest " target="_blank "></a>
      <a href="https://www.flickr.com/photos/156408095@N03/ " class="fa fa-flickr "></a>
    </div>
  </div>
</footer> -->
<!-- BEGINNING OF FOOTER -->
<footer class="blog-footer">
  <p>Made by Kevin Leong</p>
  <a href="#"><img src="/assets/facebook_icon.png" width="30" height="30" class="img-fluid"></a>
</footer>



>>>>>>> d3cf9180fd24a992eb91996a0253cba983d0f557
<!-- Facebook, Twitter, instagram, linked in flicker pinterest -->