<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pawsitively Delicious Homemade Dog Treats</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.ejs">Home</a></li>
      <li><a href="about-us.ejs">About Us</a></li>
      <li><a href="dog-treats.ejs"></a></li>
      <li><a href="ingredients.ejs"></a></li>
      <li><a href="health-benefits.ejs"></a></li>
    </ul>
  </div>
</nav>