<!DOCTYPE ejs>
<ejs lang="en">

  <head>
    <title>
      About Me
    </title>
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <div class="container">
      <% include ../partials/navbar.ejs %>
      <h1>About Me</h1>
      <p>My hobbies are programming, math, art, and playing with my labrador retriever Kelly. I enjoy cryptography, swimming, tech, and fishing. I love to listen to audio books all the time. </p>

      <p> I have traveled to Hawaii, Virginia, New York, LA, Oregan in the US. Internationally I have been to Japan, Philippines, Korea, Malaysia, Singapore, England, France, Germany, Belgium, Italy, Australia, New Zealand, Galapagos, Ecuador,
        Thailand, Vietnam, and Taiwan.</p <% include ../partials/footer.ejs %> </div> </body> </ejs>.s