<!DOCTYPE ejs>
<ejs lang="en">

  <head>
    <title>About Us</title>
    <% include ../partials/head.ejs %>
  </head>

  <body>

    <div class="container">
      <% include ../partials/navbar.ejs %>
      <!-- Beginning of content -->
      <div class="row ">

        <div class="col-md-12 ">
          <h2>About Us</h2>
          <hr>
          <p>
            Our company was founded by Kevin Leong as a way to show his love for his dog, Kelly. Kevin is a visually impaired entrepreneurial student who loves dogs and started making homemade dog treats for Kelly and for other friends with dogs. The
            treats got so
            popular that he decided to make them in larger quantities to share with dog lovers all over the country.
          </p>
          <br><br>
          <hr><br>
        </div>
        <!-- End of content -->
      </div>
      <!-- End of row -->

      <% include ../partials/footer.ejs %>
    </div>
  </body>

</ejs>