<!DOCTYPE ejs>
<ejs lang="en">

  <head>
    <title>Bio</title>
    <% include ../partials/head.ejs %>
  </head>

  <body>

    <div class="container">
      <% include ../partials/navbar.ejs %>
      <p>Hi my name is Kevin. I’m a web developer living in Palo Alto, California. I am a fan of travel, web development, programming baking, and swimming. I have a 7-year-old yellow Labrador retriever named Kelly. and I am also an entrepreneur. You
        can visit my website with a click on the button above.</p>

      <p>I love to program; I know HTML, CSS, and Bootstrap; I am proficient in JavaScript, JQuery, and still learning but proficient in Embedded Javascript, ReactJS and NodeJS currently.</p>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</ejs>