<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <% include ../partials/navbar %>
    <!-- MAIN CONTENT GOES HERE -->
    <p>Check out my delicious homemade dog treats.</p>
    <a target="_blank" href="https://www.pawsitively-delicious.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">Pawsitively Delicious Homemade Dog Treats</button>
    </a>
    <% include ../partials/footer %>
  </div>
</body>

</html>