<!DOCTYPE ejs>
<ejs lang="en">

  <head>
    <title>
      f
      <!--TITLE -->
    </title> <% include ../partials/head.ejs %>
  </head>

  <body>

    <div class="container">
      <% include ../partials/navbar.ejs %>

      <% include ../partials/footer.ejs %>
    </div>
  </body>
</ejs>