<!DOCTYPE ejs>
<ejs lang="en">

  <head>
    <title>Travel</title>
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <div class="container">
      <% include ../partials/navbar.ejs %>
      <p>
        I enjoy traveling all over the world; I love to travel and I have been to 6 out of the 7 contents; I still have not gotten to Antarctica. I have domestically to Hawaii, Virginia, New York, LA, Oregon, and New Orleans. Internationally I have
        been to Japan, Philippines, Korea, Malaysia, Singapore, indonesia, England, France, Germany, Belgium, Italy, Australia, New Zealand, Galapagos, Ecuador, Vietnam, China, Thailand, and Taiwan.
      </p>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</ejs>